<app-search-pokemon></app-search-pokemon>
<main>
    <div
        (click)="goToPokemon(poke)"
        class="pokemon"
        *ngFor="let poke of pokemonsList"
        pkmnBorderCard
    >
        <img src="{{ poke.picture }}" alt="pokemon-picture" />
        <p>
            <strong>{{ poke.name }}</strong>
        </p>
        <p>{{ poke.created | date: "dd MMM yyyy" }}</p>
        <span
            *ngFor="let type of poke.types"
            class="{{ type | pokemonTypeColor }}"
            >{{ type }}</span
        >
    </div>
</main>

<a
    class="btn-floating btn-large waves-effect waves-light red z-depth-2"
    style="position: fixed; bottom: 25px; right: 25px"
    routerLink="/pokemon/add"
    >+</a
>
